@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&display=swap');
html,
body,
#root
.app{
  height:100%;
  width:100%;
  font-family: 'Jost', sans-serif;
}
.delete-confirmation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid gray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}